Options -Indexes
Options +SymLinksIfOwnerMatch

RewriteEngine on


# Remove leading www
RewriteCond %{HTTP_HOST} ^www\.(yosifpetrov\.com)$ [NC]
RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [R=301,L]


# Redirect http to https
RewriteCond %{HTTPS} !on [NC]
RewriteCond %{HTTP_HOST} ^yosifpetrov\.com$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^tvorchestvo/([^/]+)/?$            public/poem.php?book=$1            [QSA,L]
RewriteRule ^tvorchestvo/([^/]+)/([^/]+)/?$    public/poem.php?book=$1&poem=$2    [QSA,L]
RewriteRule ^video/([^/]+)/?$                  public/video.php?video=$1          [QSA,L]
RewriteRule ^galeriya/?$                       public/gallery.php                 [QSA,L]
RewriteRule ^tarsene/?$                        public/search.php                  [QSA,L]
RewriteRule ^kontakt/?$                        public/contact.php                 [QSA,L]
RewriteRule ^presa/([^/]+)/?$                  public/press.php?article=$1        [QSA,L]
RewriteRule ^za-yosif-petrov/([^/]+)/?$        public/essay.php?essay=$1          [QSA,L]

# previously all pages used cyrillic characters in their URLs
# so for every request starting with cyrillic character load up the redirector
# which will either 301 redirect to the new address (if any) or show error 404
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^[А-Яа-я]+                         public/redirector.php              [QSA,L] 

# for all other cases redirect to the public/ folder
RewriteRule ^(.*)$    public/$1     [L]

# use a custom 404 page
<If "%{HTTP_HOST} == 'yosifpetrov.com'">
    ErrorDocument 404 /public/error404.php
</If>
<Else>
    ErrorDocument 404 /ypetrov/public/error404.php
</Else>
