.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}

.underline-dashed {
    border-bottom: 1px dashed grey;
}
.help {
    cursor: help;
}
.pre {
    white-space: pre;
}
.absolute-top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}