.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}

.underline-dashed {
    border-bottom: 1px dashed grey;
}
.help {
    cursor: help;
}
.pre {
    white-space: pre;
}
.absolute-top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

/**
 * The multi-select in the sweet-alert pop-up
 * is used to reorder all elements of a type,
 * so by default they're all marked as selected
 * and cannot be deselected. Hence, the selectable
 * part should remain hidden, and the selected one
 * should cover the whole pop-up's width.
 */
.sweet-alert .ms-container {
    width: 80%;
    margin: 0px auto; /* center in pop-up */
    background: none; /* hide arrow */
}
.sweet-alert .ms-selectable {
    display: none;
}
.sweet-alert .ms-selection {
    width: 100%;
    clear: both;
    text-align: left; /* overwrite default sweet-alert center alignment */
}

.btn-default {
    background-color: #99abb4;
    color: white;
}
label .info {
    font-size: 0.8em; 
}
.monospace {
    font-family: monospace;
}