/* --------------------------- */
@laptop:    ~"(max-width: 1200px)";
@mobile:    ~"(max-width: 720px)";
@extrasmall:~"(max-width: 340px)";
@notmobile: ~"(min-width: 721px)";
/* --------------------------- */

/* --------------------------- */
@bodyPaddingTop:      35px;
@navHeight:           70px;
@navBorderHeight:     5px;
@navHeightSticky:     50px;
@navLinkDistance:     9px;
@openSubmenuBGColor:  #fbfbfb;
@submenuBorderRadius: 3px;
@headerImgHeightMob:  240px;
@footerHeightMob:     65px;
@desktopMaxWidth:     1280px;
@darkblue:            #425795;
@grey:                #242424;
/* --------------------------- */

/* --------------------------- */
@font-face {
    font-family: 'Droid Sans Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans Mono Regular'), url('fonts/DroidSansMono.woff') format('woff');
}
@font-face {
    font-family: roboto;
    src: url('fonts/RobotoMono/RobotoMono-Regular.ttf');
}
/* --------------------------- */

* {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    @media @mobile {
        height: 100%;
    }
    @media @notmobile {
        min-height: 100vh;
    }
}
body {
    font-family: sans-serif;
    background: linear-gradient(#f7f7f7, #f0f0f0); /* yellowish #f9f2d2 */
    padding-top: @bodyPaddingTop;
    @media @mobile {
        padding-top: @navHeightSticky + @navBorderHeight;
    }
}
.nav-wrapper-outer {
    @media @mobile {
        transformn: translate3d(0, 0, 0); /* ios scroll fix */
    }
}
.nav-wrapper-inner {
    display: table;
    width: 100%;
    max-width: @desktopMaxWidth;
    margin: 0px auto;
    white-space: nowrap; /* logo part takes up remaining space in nav */
}
header {
    /* Logo part */
    .logo-wrapper {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
       .logo {
            font-size: 26px;
            font-weight: bold;
            color: #160037;
            text-decoration: none;
            display: inline-block;
            line-height: @navHeight;
            transition: color 0.3s;
            &:hover {
                color: @darkblue;
                @media @mobile {
                    background-color: @openSubmenuBGColor;
                }
            }
            @media @mobile {
                display: block;
                padding-left: 25px;
            }
        }
        span {
            font-size: 15px;
            transition: opacity 0.3s;
            opacity: 1;
            &.hidden {
                opacity: 0;
            }
        }
        @media @laptop {
            span {
                display: none;
            }
        }
    }

    /* Navigation part */
    nav {
        display: table-cell;
        position: relative;
        font-size: 0px; /* takes care of white spaces between links */
        z-index: 3;
        @media @mobile {
            &:not(.open) {
                display: none;
            }
            position: fixed;
            left: 0px;
            top: @navHeightSticky + @navBorderHeight;
            max-height: calc(~"100%" - @navHeightSticky + @navBorderHeight);
            overflow-y: auto;
            background: #f0f0f0;
            width: 100%;
            box-shadow: 0px 0px 8px 0px fade(black, 25%);
            border-bottom: 1px solid mix(black, white, 30%)
        }

        /* applies to all submenus and links */
        ul {
            list-style: none;
            padding: 0px;
            display: inline-block;
            li:hover > a {
                color: @darkblue;
                background-color: @openSubmenuBGColor;
            }
            li.active > a {
                font-weight: bold;
            }
            @media @mobile {
                width: 100%;
                li {
                    a {
                        border-bottom: 1px solid mix(black, white, 30%);
                    }
                    &.has-items > a {
                        .android-highlight-fix;
                        /* don't group under one property «background» because it replaces the hover background color */
                        background-image: url(../img/layout/arrows.png);
                        background-repeat: no-repeat;
                        background-position: 12px 0px;
                        background-size: 15px;
                        outline: 0; /* remove browser dotted border on focus */
                    }
                    &.open > a {
                        background-position-y: -40px;
                        background-color: @openSubmenuBGColor;
                        color: @darkblue;
                        + ul > li:first-child > a {
                            box-shadow: 0 2px 5px fade(black, 10%) inset;
                        }
                    }
                }
            }
        }
        a {
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: #484848;
            transition: color,background-color 0.3s;
            @media @mobile {
                display: block;
            }
        }

        /* first level */
        > ul > li {
            @media @notmobile {
                display: inline-block;
                position: relative;
                border: 1px solid transparent;
                border-bottom: none;
                transition: border-color 0.3s;
                &:hover {
                    border-color: mix(black, white, 20%);
                }
            }
            > a {
                @media @notmobile {
                    display: inline-block;
                    line-height: @navHeight;
                    padding: 0px @navLinkDistance;
                }
                @media @mobile {
                    line-height: 1em;
                    height: 40px;
                    padding: 12px 20px 13px 30px;
                }
            }

            /* second level  */
            > ul {
                text-align: left;
                background: @openSubmenuBGColor;
                @media @notmobile {
                    z-index: -1;
                    position: absolute;
                    top: @navHeight - 1;
                    right: -1px;
                    opacity: 0;
                    visibility: hidden;
                    box-shadow: 0px 5px 5px 0px fade(black, 15%);
                    border-radius: @submenuBorderRadius 0px @submenuBorderRadius @submenuBorderRadius;
                    transition: opacity 0.3s;
                    border: 1px solid mix(black, white, 20%);
                }
                @media @mobile {
                    display: none;
                }
                > li {
                    > a {
                        padding: 8px 10px;
                        display: block;
                        font-size: 15px;
                        &:hover {
                            background: mix(@darkblue, white, 10%);
                            @media @mobile {
                                padding-left: 40px;
                            }
                        }
                        &.active {
                            background: mix(@darkblue, white, 10%);
                            color: black;
                            @media @mobile {
                                border-left-color: orange;
                            }
                        }
                        @media @mobile {
                            white-space: break-spaces; /* allow long line wraps in submenu */
                            transition: padding-left 0.3s;
                            padding-left: 35px;
                            border-left: 10px solid mix(@darkblue, white, 60%);
                        }
                    }
                    /* on desktop round the borders of the first and last links */
                    @media @notmobile {
                        &:first-child a {
                            border-radius: @submenuBorderRadius 0px 0px 0px;
                        }
                        &:last-child a {
                            border-radius: 0px 0px @submenuBorderRadius @submenuBorderRadius;
                        }
                    }
                }
            }
            /* when hovering li, display sublist ul */
            &:hover > ul {
                @media @notmobile {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.open {
                @media @mobile {
                    /* keep the parent sticky while scrolling through children */
                    > a {
                        position: sticky;
                        top: 0px;
                    }
                    > ul {
                        display: block;
                    }
                }
            }
        }
    }

    /* Form */
    .search-form {
        @media @notmobile {
            display: inline-block;
            margin-left: @navLinkDistance;
            vertical-align: middle;
            position: relative;
            top: -5px;
        }
        @media @mobile {
            background-color: @openSubmenuBGColor;
            padding: 10px;
            text-align: center;
        }
        .search-field {
            vertical-align: middle;
            @media @notmobile {
                width: 200px;
                &:not([value]) {
                    display: none;
                }
            }
            @media @mobile {
                width: calc(~"95% - 36px"); /* 36 is the width of the submit button */
                max-width: 300px;
            }
            &:focus + button {
                border-color: darkblue;
                outline: none;
            }
            &[value], &[style*="display"] {
                .open-nav-search-field;
            }
            @media @mobile {
                .open-nav-search-field;
            }
        }
        .search-submit {
            transition: all 0.2s;
            background: url(../img/layout/search.png) no-repeat 50% 50% #e8e8e8;
            border: 1px solid #cecece;
            border-radius: 5px;
            background-size: 23px;
            width: 36px;
            height: 36px;
            cursor: pointer;
            vertical-align: middle;
            &:hover {
                background-position: 50% 40%;
                background-color: #f4f4f4;
            }
        }
    }

    .header-image {
        max-width: @desktopMaxWidth;
        margin: 0px auto;
        background: url(../img/layout/header.jpg) no-repeat;
        background-size: cover;
        @media @notmobile {
            height: 300px;
            border: 1px solid #d9d9d9;
            border-bottom: none;
            border-radius: 10px 10px 0px 0px;
        }
        @media @mobile {
            height: @headerImgHeightMob;
        }
    }
}

main {
    max-width: @desktopMaxWidth;
    margin: 0px auto;
    font-size: 16px;
    line-height: 1.8em;
    background-color: white;
    border: 1px solid #d9d9d9;
    @media @notmobile {
        border-radius: 0px 0px 10px 10px;
        &.sidebar {
            display: table;
            height: 100%;
        }
    }
    @media @mobile {
        min-height: calc(~"100%" - (@headerImgHeightMob + @footerHeightMob));
    }
}
footer {
    max-width: @desktopMaxWidth;
    text-align: center;
    margin: 0px auto;
    @media @notmobile {
        padding: 20px 10px;
        br {
            display: none;
        }
    }
    @media @mobile {
        display: table;
        height: @footerHeightMob;
        width: 100%;
        .footer-text {
            display: table-cell;
            vertical-align: middle;
        }
    }
    @media @extrasmall {
        font-size: 15px;
        padding: 15px;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.text {
    @media @notmobile {
        padding: 60px;
    }
    @media @mobile {
        padding: 30px;
    }
    a {
        color: @darkblue;
        &:hover {
            text-decoration: none;
        }
    }
    blockquote {
        text-align: left;
        margin: 1cm auto 1cm 5em;
        border-left: 6px solid #CECECE;
        padding-left: 1em;
        @media @mobile {
            margin-left: 0px;
        }
    }
}
.error {
    text-align: center;
    .title {
        padding-top: 1cm;
        font-weight: bold;
        color: @darkblue;
        @media @notmobile {
            font-size: 35px;
        }
        @media @mobile {
            font-size: 25px;
            text-transform: uppercase;
        }
    }
    p {
        line-height: 1em;
        padding-bottom: 1em;
    }
}

.aside-wrapper {
    @media @notmobile {
        display: table-cell;
        vertical-align: top;
        height: 100%;
    }
    @media @mobile {
        position: fixed;
        top: 0px;
        left: -80%;
        width: 80%;
        transition: left 0.5s;
        z-index: 2;
        &.open {
            left: 0px;
            aside {
                box-shadow: 2px 0px 10px 0px fade(black, 25%);
            }
        }
    }
    + section {
        width: 100%;
        @media @notmobile {
            display: table-cell;
            padding: 15px 30px 30px 30px;
        }
        @media @mobile {
            display: block;
            padding: 25px 20px 25px 35px;
        }
        .content-wrapper {
            height: 100%;
            opacity: 1;
            transition: opacity 0.3s;
            #title {
                background-color: white;
                padding: 20px 0px 5px 0px;
                z-index: 1;
            }
            #dedication {
                font-style: italic;
                line-height: 1.4em;
                margin-bottom: 10px;
            }
            #summary {
                margin-top: 0.7cm;
                @media @notmobile {
                    max-width: 600px; /* same as video */
                }
            }
            .book {
                text-indent: 0px;
                .cover img {
                    border: 1px solid mix(black, white, 10%);
                    border-radius: 5px;
                    display: block;
                }
                .info {
                    text-align: left;
                }
                @media @notmobile {
                    display: table;
                    margin: 0px auto;
                    margin-top: 1cm;
                    .info, .cover {
                        display: table-cell;
                        vertical-align: top;
                        padding: 0.5cm;
                    }
                    .cover img {
                        width: 300px;
                        height: 450px;
                    }
                }
                @media @mobile {
                    display: block;
                    .cover {
                        margin-top: 0.5cm;
                        img {
                            max-width: 100%;
                        }
                    }
                    .info {
                        margin-top: 0.5cm;
                        margin-bottom: 1cm;
                    }
                }
            }
        }
        &.monospace {
            text-align: center;
            .poem-wrapper {
                display: inline-block;
                text-align: left;
            }
            #body {
                font-family: 'roboto', 'Droid Sans Mono Regular', monospace;
                text-align: left;
                display: inline-block;
                white-space: pre-wrap;
                margin-top: 1em;
            }
        }
        &:not(.monospace) {
            #title {
                text-align: center;
            }
            #body {
                margin-top: 1em;
                text-indent: 2em;
            }
        }
    }
}
.aside-toggler {
    .android-highlight-fix;
    position: absolute;
    top: 45vh;
    width: 140px;
    right: -139px;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: 0 0;
    cursor: pointer;
    box-shadow: -3px 3px 3px 0 fade(black, 15%);
    border: 1px solid mix(black, white, 40%);
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    background:  linear-gradient(mix(@darkblue, white, 10%), fade(mix(@darkblue, white, 10%), 70%));
    font-size: 14px;
    padding: 0px 15px;
    text-transform: uppercase;
    color: @grey;
    line-height: 2em;
    transition: color 0.3s;
    text-align: center;
    &.open, &:hover {
        color: @darkblue;
    }
}
aside {
    width: 360px;
    background: mix(@darkblue, white, 10%);
    padding: 20px 30px 30px 30px;
    @media @mobile {
        border-right: 1px solid mix(black, white, 40%);
        padding-top: 0px; /* to keep the sticky element */
        width: 100%;
        height: 100vh;
        overflow: auto;
    }
    @media @notmobile {
        height: 100%;
    }
    .title-wrapper {
        z-index: 1;
        background-color: mix(@darkblue, white, 10%);
        padding-top: 15px;
        padding-bottom: 10px;
        &.stickable {
            @media @mobile {
                margin-bottom: @navHeightSticky + 10; /* to prevent title from overlapping with list */
            }
        }
        &:not(.stickable) {
            @media @mobile {
                margin-top: 55px;
            }
            + ol {
                @media @mobile {
                    margin-top: 5px;
                }
            }
        }
    }
    .title {
        text-transform: uppercase;
        text-align: center;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        color: @darkblue;
        padding: 10px 0px;
        font-weight: bold;
        line-height: 1em;
        text-decoration: none;
        &.active {
            color: black;
        }
    }
    a {
        color: @darkblue;
        transition: all 0.3s;
        display: block;
        outline: 0;
        &:hover {
            text-decoration: none;
            color: black;
        }
    }
    ol {
        list-style: none;
        padding: 0px;
        @media @notmobile {
            margin-bottom: 0px;
        }
        @media @mobile {
            margin-bottom: 1cm;
        }
        li {
            margin: 0.3em 0;
            line-height: 1.5em;
        }
        a {
            @media @mobile {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &.active {
                font-weight: bold;
                color: black;
                text-decoration: none;
            }
        }

        &.videos, &.images {
            @media @notmobile {
                display: flex;
                flex-wrap: wrap;
                align-items: end;
            }
            li {
                @media @mobile {
                    a {
                        white-space: initial;
                    }
                }
                a {
                    .android-highlight-fix;
                    img {
                        opacity: 0.5;
                        transition: opacity 0.3s;
                    }
                    &:hover img, &.active img {
                        opacity: 1;
                    }
                }
            }
        }
        &.videos {
            li {
                @media @notmobile {
                    flex: 1;
                    flex-basis: 50%;
                    padding: 5px;
                }
                a {
                    span {
                        display: block;
                    }
                    img {
                        max-width: 100%;
                        border-radius: 5px;
                    }
                    @media @mobile {
                        margin-bottom: 0.5cm;
                    }
                }
            }
        }
        &.images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                flex: 1;
            }
            img {
                transition: border-color 0.3s;
                border: 3px solid transparent;
                @media @notmobile {
                    width: 90px;
                }
                @media @extrasmall {
                    width: 55px;
                }
            }
            a.active img {
                border-color: @darkblue;
            }
        }
    }
}

/* use this shortcut both for sticky desktop AND mobile */
.fixed-nav-to-top {
    .logo {
        line-height: @navHeightSticky !important;
    }
    .nav-wrapper-outer {
        width: 100%;
        position: fixed;
        top: 0px;
        background: linear-gradient(#F6F6F6, #F0F0F0); /* grey linear-gradient(#f2f2f2, #dfdfdf); */
        border-bottom: @navBorderHeight solid @darkblue;
        box-shadow: 0px 0px 8px 0px fade(black, 25%);
        z-index: 3;
    }
}
/* this feature is not fully supported,
   but it's not a crucial one, so that's okay */
.stickable {
    position: sticky;
    top: 55px;
}

.open-nav-search-field {
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    + button {
        border-radius: 0px 5px 5px 0px;
        background-color: #f4f4f4;
    }
}

/* when the user scrolls down, the body gets the class name sticky
   which triggers various changes in the navigation bar */
body.sticky {
    @media @notmobile {
        padding-top: @navHeightSticky + @bodyPaddingTop + 20; /* 20 is an arbitrary number to get more natural transition */

        .fixed-nav-to-top;

        nav > ul > li {
            border-top-color: transparent;
            > a {
                line-height: @navHeightSticky;
                + ul {
                    top: @navHeightSticky - 1;
                }
            }
        }
    }
}

@media @mobile {
    .fixed-nav-to-top;
}

.nav-toggler-wrapper {
    .android-highlight-fix;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    z-index: 2;
    #nav-toggler {
        position: relative;
        display: inline-block;
        width: 1.25em;
        height: 0.8em;
        border-top: 0.2em solid @grey;
        font-size: 20px;
        &.active {
            border: none;
            height: 0.6em;
        }
    }
    #nav-toggler:before, #nav-toggler:after {
        content: "";
        position: absolute;
        left: 0px;
        width: 100%;
        border-top: 0.2em solid @grey;
        transition: transform 0.3s;
    }
    #nav-toggler:before {
        top: 0.2em;
    }
    #nav-toggler:after {
        top: 0.6em;
    }
    #nav-toggler.active:before {
        top: 0.3em;
        transform: rotate(-135deg);
    }
    #nav-toggler.active:after {
        top: 0.3em;
        transform: rotate(135deg);
    }
}
.video {
    text-align: center;
    video {
        object-fit: cover;
        border-radius: 4px;
        margin: 1cm auto;
        @media @mobile {
            max-width: 100%;
        }
        @media @notmobile {
            max-width: 600px;
        }
    }
}
.textpage {
    hr {
        border: 1px dotted mix(black, white, 20%);
    }
    text-align: justify;
    img {
        margin: 10px auto 1cm auto;
        border-radius: 5px;
        box-shadow: 2px 2px 5px fade(black, 25%);
        &.right {
            margin-left: 1cm;
            float: right;
        }
        &.left {
            float: left;
            margin-right: 1cm;
        }
    }
    .poem {
        font-family: 'roboto', 'Droid Sans Mono Regular', monospace;
        margin: 1.5cm auto;
        border-left: 1px dotted grey;
        @media @notmobile {
            margin-left: 15%;
            padding-left: 20px;
        }
        @media @mobile {
            padding-left: 10px;
        }
        h5 {
            background-color: white;
            font-weight: bold;
            font-size: 1.3em;
            margin-bottom: 10px;
        }
        .content {
            white-space: pre-line;
        }
    }
    @media @mobile {
        text-align: left;
        img {
            &:not('.desktop-only') {
                display: block;
            }
            float: none;
            margin: 1cm 0px;
            max-width: 100%;
            + .poem {
                margin-top: 0px;
            }
        }
    }
}
@media @notmobile {
    .gallery-wrapper-outer {
        display: table;
        margin: 0px auto;
    }
    .gallery-wrapper-inner {
        display: table-cell;
    }
}
.swipe-nav {
    @media @notmobile {
        display: table-cell;
        width: 45px;
        cursor: pointer;
        transition: background-position-x 0.3s;
    }
    @media @mobile {
        display: none;
    }
    &.next {
        background: url(../img/layout/next.png) no-repeat 50% 30%;
        &:hover {
            background-position-x: calc(~"50% + 5px");
        }
    }
    &.prev {
        background: url(../img/layout/prev.png) no-repeat 50% 30%;
        &:hover {
            background-position-x: calc(~"50% - 5px");
        }
    }
}
#swipe-gallery {
    display: block;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    text-align: center;
    @media @notmobile {
        margin: 1cm auto;
        width: 700px;
    }
    @media @mobile {
        margin: 0.5cm auto
    }
    .swipe-wrap {
        overflow: hidden;
        position: relative;
        > div {
            float: left;
            width: 100%;
            position: relative;
            span {
                display: block;
                margin-top: 0.5cm;
                line-height: 1.4em;
            }
            img {
                border-radius: 5px;
                @media @notmobile {
                    box-shadow: 4px 4px 10px fade(black, 15%);
                    max-width: 600px;
                    max-height: 500px;
                }
                @media @mobile {
                    box-shadow: 1px 2px 5px fade(black, 15%);
                    max-width: 95%;
                    margin: 0px auto;
                }
            }
        }
    }
}
input[type="text"], input[type="password"], textarea {
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 7px;
    line-height: 20px;
    font-size: 16px;
    transition: border-color 0.3s;
    text-align: left;
    background-clip: padding-box; /* remove ios shadow */
    &:focus {
        border-color: darkblue;
        outline: none;
    }
    &.error-field {
        border-color: red;
    }
}
input[type="submit"] {
    text-transform: uppercase;
    background-color: white;
    padding: 10px 50px;
    border: 2px solid #cecece;
    color: @darkblue;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    outline: 0;
    transition: border-color 0.3s;
    -webkit-appearance: none; /* override ios default button style */
    &:hover, &:focus {
        border-color: @darkblue;
    }
}
textarea {
    resize: vertical;
    min-height: 5em;
    max-height: 20em;
}
.comments-wrapper {
    display: block;
    text-align: left;
    margin: 1.5cm auto;
    padding-top: 1cm;
    border-top: 1px dotted mix(@grey, white, 20%);
    @media @notmobile {
        max-width: 600px;
        min-width: 400px;
    }
    .section-title {
        font-size: 18px;
        font-weight: bold;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 0.4cm;
    }
}
.comments {
    .comment {
        border: 1px solid mix(black, white, 15%);
        border-radius: 5px;
        margin-bottom: 1cm;
        .title {
            background-color: @darkblue;
            color: white;
            width: 100%;
            padding: 5px 15px;
            border-radius: 5px 5px 0px 0px;
            font-size: 0.95em;
            display: table;
            .username {
                display: table-cell;
            }
            .date {
                display: table-cell;
                text-align: right;
            }
        }
        .body {
            border-radius: 0px 0px 5px 5px;
            background-color: mix(black, white, 2%);
            padding: 15px;
        }
    }
}
.comment-form {
    input[type="text"], textarea {
        width: 100%;
    }
    textarea {
        margin: 0.5cm 0px;
        height: 150px;
    }
    input[type="submit"] {
        display: inherit;
        margin: 0px auto;
    }
}
.error-message {
    color: red;
    display: block;
    padding-bottom: 20px;
    line-height: 1em;
}
#scroll-top {
    background: url(../img/layout/arrow-up.png) no-repeat 50% 50% fade(black, 20%);
    border: 1px solid fade(black, 30%);
    position: fixed;
    opacity: 0.5;
    cursor: pointer;
    animation-name: arrow-up;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    transition: background-color 0.3s;
    &:hover {
        background-color: fade(black, 15%);
    }
    @media @notmobile {
        width: 46px;
        height: 46px;
        border-radius: 7px;
        background-size: 30px;
        bottom: 60px;
        right: 45px;
    }
    @media @mobile {
        .android-highlight-fix;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        background-size: 20px;
        bottom: 30px;
        right: 15px;
        transition: bottom 0.5s;
    }
    &.overlap-footer {
        @media @mobile {
            bottom: 85px;
        }
    }
}
@keyframes arrow-up {
    0%   {background-position-y: 50%;}
    6%  {background-position-y: 35%;}
    12%  {background-position-y: 50%;}
    100% {background-position-y: 50%;}
}

/* --------------------------- */
.mobile-only {
    @media @notmobile {
        display: none;
    }
}
.desktop-only {
    @media @mobile {
        display: none;
    }
}
.center {
    text-align: center;
}
.none {
    display: none;
}
.android-highlight-fix {
    -webkit-tap-highlight-color: transparent; /* fix android highlight color */
}
/* start out with images hidden and show them on window load */
.op-0-fadein {
    opacity: 0;
    transition: opacity 0.3s;
}
/* --------------------------- */
